.home-section {
    background-image: url(/public/images/childone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 806px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    position: relative;
  }
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .slideshow-text {
    font-weight: bold;
    font-size: 7rem; /* Adjust the font size as needed */
    color: #FFFFFF;
  }
  .learn-more-button {
    width: 241.25px; /* Convert 24.125rem to pixels */
    height: 65px; /* Convert 6.5rem to pixels */
    background-color: #1175D2;
    color: #fff;
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 525px; /* Add spacing between button and slideshow */
    cursor: pointer;
  }
  .learn-more-text {
    font-size: 1.5rem;
  }
  /* ================================================================ */
  @media (max-width: 768px) {
    .home-section {
      height: 500px; /* Adjust the height as needed */
      background-size: cover; /* or '100% auto', depending on your preference */
    }
    .slideshow-text {
      font-size: 3rem; /* Adjust the font size for smaller screens */
      margin-top: -15%;
    }
    .learn-more-button {
      width: 120px; /* Adjust the width as desired */
      height: 40px; /* Adjust the height as desired */
      margin-top: 280px; /* Adjust the negative margin as desired */
      padding: 2px 1px; /* Adjust the padding as desired */
    }
    .learn-more-text {
        font-size: 1rem;
      }
  }

